# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# ChromaDB
chroma/
chroma_db/
vector_db/
persist/

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/